body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    background-color: black;
    // background-image: url(../images/dual-monitor-setup-with-pc.avif);
    background-size: cover;
    height: 90%;
    color: #ffffff;

    .container {
        height: 100%;
    }

    .top {
        display: flex;
        align-items: center;
        height: 80%;
        span{
            color: green;
        }
    
        h1 {
            span {
                color: #7516ce;
            }
        }
    
        h3 {
            color: blue;
        }
    
        button {
            border-radius: 50px;
            background-color: #7516ce;
        }
    }

    .duration {
        border-left: solid;
        border-right: solid;
        border-color: black;
    }
}

footer {
    height: 10%;
    background-color: lightgray;

    .nav {
        color: black;
        text-decoration: none;
        text-align: center;
        height: 100%;
        border: solid;
    }
}